header {
    background-color: #002171;
    color: white;
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-position: right;
    height: 60px;
    text-align: center;
    padding-top: 15px;
}

nav {
    background-color: white;
    text-align: center;
    padding-top: 10px;
    font-weight: bold;
    
}

nav a {
    text-decoration: none;
}

h1 {
	margin-top: 0;
    margin-bottom: 0;
    font-family: Georgia, 'Times New Roman', serif;
}

h2 {
    color: mediumblue;
    font-family: Georgia, 'Times New Roman', serif;
}

h3 {
    font-family: Georgia, 'Times New Roman', serif;
}

dt {
    color: darkblue;
}

.resort {
    color: #5c7fa3;
    font-weight: bold;
}

main {
    font-family: Sans-serif;
    padding: 1px 20px 20px 20px;
    display: block;
}

body {
	background-image: linear-gradient(white, lightblue);
    background-color: lightblue;
    color: darkgray;
    font-family: Arial, Helvetica, sans-serif;
    
}


ul {
    list-style-image: url(marker.gif);
}

footer {
    font-size: 75%;
    font-style: italic;
    text-align: center;
    font-family: Georgia, 'Times New Roman', serif;
    padding: 20px;
}

#wrapper {
	align-items: center;
	width: 80%;
	background-color: white;
	min-width: 960px;
	max-width: 2048px;
	box-shadow: 3px 3px #333333;

}